body{
    background-image: url("images/fondocipher.png");
    position: relative;
    height: 300px;
    width: 500px;
    max-width: 80%;
    z-index: -1;
    font-family: Rhodium Libre;
}

#startScreen{
    position: fixed;
    top: 20%;
    right: 30%;
    text-align: center;
}

#password{
    color: whitesmoke;
    background-color: #131313;
    text-align: center;
    letter-spacing: 0.5em;
    border: 1px solid #366D2D; 
    font-family: Rhodium Libre;
}

#getin{
    background: #366D2D;
    color: whitesmoke;
    border: 1px solid #366D2D;
    font-size: 14px;
    letter-spacing: 0.2em;
    width: 80px;
    height: 30px;
    Opacity: .8;

}

h3{
    font-size: 70px;
    color: #FFC83C;
    line-height: 5px;
}

h1{
    font-size: 60px;
    color: #366D2D;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 10px;
    letter-spacing: 0.5em;
}

h2{
    color: #FAD77E;
    font-size: 18px;
    line-height: 31px;
    letter-spacing: 0.2em;
}

button{
    background: #131313;
    color: whitesmoke;
    font-family: Rhodium Libre;
    border: 1px solid #366D2D;
    font-size: 14px;
    letter-spacing: 0.2em;
    width: 80px;
    height: 30px;
    Opacity: .6;
}

button:focus{
    background-color:#131313;
     color:#FAD77E;
    }


label{
    color: #FAD77E;
    font-size: 14px;
    letter-spacing: 0.5em;
    position: relative;
    right: 80px;
}

#offset{
    background-color: #131313; 
    border: 1px solid #366D2D;
    width: 50px;
    margin: 2px 0;
    padding: 4px;
    box-sizing: border-box;
    color: white;
    text-align: center;
    letter-spacing: 0.3em;
    position: relative;
    right: 80px;
}

#cipherScreen{
    position: fixed;
    top: 5%;
    right: 30%;
    text-align: center;
}

textarea{
    background-color: #393939;
    border: 1px solid #393939;
    color: white;
    font-size: 12px;
    letter-spacing: 0.2em;
    width:400px;
    height: 200px;
    padding: 10px;
    position: relative;
    right: 65%;
}

#showResult{
    color: white;
    text-align: justify;
    font-size: 12px;
    letter-spacing: 0.2em;  
    width:400px;
    height: 200px;
    position: absolute;
    top: 254px;
    left: 180px;
}

#cipherHeader{
    text-align: center;
    position: relative;
    right: 60px;
}

#exitBtn{
    position: relative;
    right: 60px;
    Opacity: .6;
}

#info{
    font-size: 10px;
    background-color: black;
    border: none;
    width: 200px;
    color:whitesmoke;
    opacity: .4;
}

#infoScreen{
    position: absolute;
    padding: 20%;
    text-align: left;
    font-family: Rhodium Libre;
    font-size: 12px;
    width:100%;
    letter-spacing: 0.2em;
    color: whitesmoke;
}

#back{
    width: 100px;
    font-size: 12px;
}

/*.box{
    position: absolute;
    background-color: black;
    width: 1300px;
    height: 900px;
    z-index: -1;
    box-align: center;
}*/